
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

span {
    display: table;
    margin: 0 auto;
}

.memorize-main-game-block {
    background-color: blueviolet;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    padding: 0px;

    display: flex;

    width: fit-content;
}

.game-configurations {
    background-color: rgb(74, 74, 148);
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 5px;
    margin: 5px;

    width: fit-content;
    padding: 5px;
}

.config-block {
    background-color: rgb(74, 148, 123);
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: inherit;
}

.config-form {
    background-color: rgb(74, 148, 123);
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 5px;
    padding: 10px;
}

.game-section {
    background-color: blue;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 5px;

    margin: 5px 0px;
    padding: 5px;

    width: fit-content;
}

.main-game-top-bar {
    background-color: rgb(124, 151, 151);
    border-style: solid;
    border-color: black;
    border-width: 4px 4px 0px 4px;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.main-game-section {
    background-color: aqua;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 0px 0px 5px 5px;
    padding: 4px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: fit-content;
    max-width: 600px;
}

.game-cards-block {
    background-color: aquamarine;
    border-width: 2px;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}

.card {
    background-color: antiquewhite;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    margin: 2px;
    padding: 2px;

    width: 75px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreboard-aside {
    background-color: rgb(74, 74, 148);
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: fit-content;
}

.scoreboard-block {
    background-color: rgb(74, 148, 123);
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: inherit;
}

.scoreboard-block span {
    justify-content: center;
}

.scoreboard-table {
    background-color: rgb(74, 148, 123);
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 5px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreboard-table p {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* Responsive layout */

@media screen and (max-width: 900px) {
    .game-configurations {
        display: flex;
        width: max-content;
        width: 95%;
        justify-content: space-evenly;
    }
    .memorize-main-game-block {
        flex-direction: column;
        align-items: center;
    }
    .scoreboard-aside {
        display: flex;
        width: 95%;
        justify-content: center;
    }
    .scoreboard-table {
        display: flex;
    }
}
