
html {
    width: 100%;
    height: 100%;
    background-color: #CAF0F8;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    background-image: linear-gradient(#03045E, #CAF0F8);
}

h1 {
    text-align: center;
    color: azure;
}

span {
    display: table;
    margin: 0 auto;
}

#username-input {
    display: block;
    resize:both;
    overflow: hidden;
    width: 80%;
}

.top-span {
    background-color: #03045E;
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 4px 4px 0px 4px;
    border-radius: 5px 5px 0px 0px;
}

.memorize-main-game-block {
    padding: 0px;
    display: flex;
    width: fit-content;
    align-items: flex-start;
}

.game-configurations {
    /*
    background-image: linear-gradient(#023E8A, #ADE8F4);
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    */

    width: fit-content;
}

.config-block {
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    width: inherit;
}

.config-form {
    background-color: #0096C7;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;

    height: max-content;
}

.game-section {
    width: fit-content;
    height: fit-content;
    padding: 10px 0px 0px 0px;
    border-radius: 10px;
}

.main-game-top-bar {
    background-color: #03045E;
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 4px 4px 0px 4px;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.main-game-section {
    background-image: linear-gradient(#00B4D8, #ADE8F4);
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 0px 0px 5px 5px;
    padding: 1px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: fit-content;
    max-width: 600px;
}

.game-cards-block {
    border-width: 2px;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}

.card {
    background-color: #CAF0F8;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    margin: 1px;
    padding: 2px;

    width: 55px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    border-color: rgb(210, 44, 44);
    background-color: #ADE8F4;
    cursor: pointer;
}

.scoreboard-aside {
    /*
    background-image: linear-gradient(#023E8A, #ADE8F4);
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 5px;
    margin: 5px;
    */
    width: fit-content;
}

.scoreboard-block {
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    width: inherit;
}

.scoreboard-block span {
    justify-content: center;
}

.scoreboard-table {
    background-color: #0096C7;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.select-scoreboard-filter {
    background-color: #0096C7;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 0px 0px 5px 5px;

    padding: 10px;
    margin: 0px 0px 5px 0px;

    display: flex;
    justify-content: space-around;
}

.scoreboard-filters-buttons {
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
}

.scoreboard-filters-ddl {
    width: 100%;
    
    display: flex;
    justify-content: center;
}

.scoreboard-table p {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreboard-table-top {
    background-color: #03045E;
    color: white;
}

.scoreboard-table-data {
    background-color: #CAF0F8;
}

.button-scoreboard-filter {
    background-color: #023E8A;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    color: white;
    padding: 2px 6px 2px 6px;
    cursor: pointer;
}

.button-scoreboard-filter:hover {
    background-color: #00B4D8;
    border-color: #023E8A;
    color: black;
}

.button-selected {
    background-color: #CAF0F8;
    border-color: #023E8A;
    color: black;

    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding: 2px 6px 2px 6px;
    cursor: pointer;
}

.button-div-start-game {
    margin: 5px 0px 0px 0px;
}

.dropdown-select {
    background-color: #023E8A;
    color: white;
    border-color: black;

    border-radius: 5px;
    border-width: 2px;
    border-style: solid;

    cursor: pointer;
}

/* Responsive layout */

@media screen and (max-width: 900px) {
    .game-configurations {
        background-image: none;
        background-color: #48CAE4;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        border-width: 0px;
        border-radius: 10px 10px 0px 0px;
        margin: 0px;
        padding: 0px;
    }
    .game-section {
        background-color: #48CAE4;
        border-radius: 0px;
        width: 100%;
    }
    .memorize-main-game-block {
        border-style: solid;
        border-color: black;
        border-radius: 15px;
        flex-direction: column;
        align-items: center;
    }
    .scoreboard-aside {
        background-image: none;
        background-color: #48CAE4;
        margin: 0px;
        border-width: 0px;
        border-radius: 0px 0px 10px 10px;
        padding: 0px;

        display: flex;
        width: 100%;
        justify-content: center;
    }
    .scoreboard-block {
        background-color: transparent;
        margin: 0px;
        padding: 0px;
        border-width: 0px;
    }
    .top-span {
        margin: 0px;
        padding: 0px;
    }
    .scoreboard-table {
        background-color: #48CAE4;
        display: flex;
        padding: 5px 0px;
        border-width: 0px;
        border-radius: 0px 0px 10px 10px;
    }

    .select-scoreboard-filter {
        background-color: #48CAE4;
        border-style: none;
        border-width: 0px;
        border-radius: 0px;
    
        padding: 5px 0px 5px 0px;
        margin: 0px;
    }

    #scoreboard {
        border-width: 0px 0px 3px 0px;
        border-radius: 0px;
        padding: 4px 0px 4px 0px;
    }

    #scoreboard-filters {
        border-width: 0px 0px 3px 0px;
        border-radius: 0px;
        padding: 4px 0px 4px 0px;
    }

    .main-game-top-bar {
        border-radius: 0px;
        border-width: 3px 0px 3px 0px;
    }
    .main-game-section {
        background-image: none;
        background-color: #48CAE4;
        border-radius: 0px;
        border-width: 0px 0px 3px 0px;
        width: auto;
    }
    .config-block {
        background-color: transparent;
        margin: 0px;
    }
}
